@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Play:400,700&subset=latin,latin-ext);

@color1: #0099ff;
@color2: #eeeeee;
@font1: 'Open Sans', sans-serif;
@font2: 'Play', sans-serif;

.centerText() {
    text-align: center;
}
.centerElement(@size: 0) {
    margin: @size auto;
}
.center(@size: 0) {
    .centerText();
    .centerElement(@size);
}

body {
    font-family: @font1;
    font-size: 12pt;
    margin: 0;
    background-color: @color2;
}
header {
    padding: 20pt 0;
    width: 100%;
    background-color: @color1;
    .center();
    color: @color2;
    font-family: @font2;
    h1 {
        font-size: 32pt;
        line-height: 32pt;
    }
    h2 {
        font-size: 16pt;
        line-height: 16pt;
    }
}
nav {
    width: 100%;
    background-color: @color1;
    .centerText();
    font-family: @font2;
    ul {
        margin: 0;
        display: inline-block;
        li {
            text-transform: uppercase;
            list-style: none;
            vertical-align: middle;
            float: left;
            padding: 7pt;
        }
    }
    a {
        color: @color2;
        &:hover {
            color: contrast(@color2);
        }
    }
}
section {
    header {
        .centerText();
        font-size: 16pt;
        color: @color1;
        background-color: @color2;
        margin-top: 12pt;
        padding: 0;
        text-decoration: none;
        font-weight: bold;
    }
    article {
        width: 75%;
        padding: 12pt;
        .centerElement();
    }
}
footer {
    width: 100%;
    .centerText();
    padding: 7pt 0;
    background-color: @color1;
    color: @color2;
    a {
        color: @color2;
    }
}
a {
    color: @color1;
    text-decoration: none;
    font-weight: bold;
}
.reference {
    margin: 10pt 0;
    h3 {
        font-size: 14pt;
        color: @color1;
    }
    img {
        width: 200px;
        padding: 2pt;
        float: left;
    }
}
.clear {
    clear: both;
}
